<h1>Chat - <%= params[:channel] %></h1>

<table class="table table-condensed" id="chat">
  <%= render 'chatlines', comments: @comments %>
</table>

<script>
  var DASHBOARD_URL = '<%= dashboard_path(params[:channel], format: :js) %>';
  var COMMENT_COUNT = <%= @comments.size %>;
</script>
