<h1>Wagon Chat API</h1>

<% if @channels.empty? %>
  <p>There are no messages yet</p>
<% else %>
  <ul>
    <% @channels.each do |channel| %>
    <li><%= link_to channel, dashboard_path(channel: channel) %></li>
    <% end %>
  </ul>
<% end %>
